<h3 align ="right"><%= link_to "Go back to main", posts_path%></h3><br>
<%= form_for @post do |f| %>
  <h4><%= f.text_field :message, class: 'messagebox-style' %>
<br><br>
  <%= f.submit "Save changes", class: 'button',
  data: { confirm: "Confirm changes" } %></h4>
<% end %>
