  <h3 align ="right"><%= link_to "Go back to main", posts_path%></h3><br>
<%= form_for @post do |form| %>
  <h4><%= form.text_field :message, class: 'messagebox-style', :placeholder => 'Write anything!', :size => 30 %>
<br><br>
  <%= form.submit "Submit" %></h4>
<% end %>
